<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Bartosz Kowalik">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <title>Prediction server</title>
</head>

  <body>
    
<div class="col-lg-8 mx-auto p-3 py-md-5">
  <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="62" height="54" fill="currentColor" class="bi bi-building text-primary" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694 1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
            <path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
          </svg>      
      <span class="fs-2">Property price prediction <p class="fs-6"> by Bartosz Kowalik</p></span>
    </a>
  </header>

  <main>
    <h2>Predict using only Google Sheets</h2>        

    <p class="fs-5 col-md-8">Click link below to access our sheet with implemented script, that connects it with our prediction server.</br>
        You can make property price predictions directly in Google sheets.</p>

    <div class="mb-5">   
      <a href="https://docs.google.com/spreadsheets/d/1jgPEtyx0QhLS91Z51rJ8HMKu22zxUFoLuuMuUrFyn-o" class="btn btn-success btn-lg px-4">      
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-file-earmark-spreadsheet-fill" viewBox="0 0 16 16">
         <path d="M6 12v-2h3v2H6z"></path>
         <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM3 9h10v1h-3v2h3v1h-3v2H9v-2H6v2H5v-2H3v-1h2v-2H3V9z"></path>
        </svg>
        Google Sheets
       </a>       
    </div>

    

    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Quick Start
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>How to start predictions using Google Sheets:</strong>
              <ul class="icon-list ps-0">
                <li class="d-flex align-items-start mb-1">&#9656;Open Google Sheets, using green button above.</li>
                <li class="d-flex align-items-start mb-1">&#9656;Sign in, with you google account.</li>
                <li class="text-muted d-flex align-items-start mb-1">&#9656;"Custom Menu" appears in the navbar, next to "Help"</li>
                <a href="{{url_for('static', filename='google_sheets.png')}}">
                    <img src="{{url_for('static', filename='google_sheets.png')}}" class="img-fluid" alt="">
                </a>                
                <li class="d-flex align-items-start mb-1">&#9656;Click "Custom Menu" &#9657; "makePrediction"</li>                
                <li class="d-flex align-items-start mb-1">&#9656;Now You have to authorize document script: (only the first time) </li>
                <li class="d-flex align-items-start mb-1">&emsp;&#9642;&nbsp;Confirm your google account.</li>
                <li class="d-flex align-items-start mb-1">&emsp;&#9642;&nbsp;Click "Advanced" &#9657; Go to Property Price Prediction by Bartosz Kowalik </li>
                <li class="text-muted d-flex align-items-start mb-1">&emsp;&emsp;Don't worry about "unsafe" notation. It's just because Goggle can't verify custom scripts</li>
                <li class="text-muted d-flex align-items-start mb-1">&emsp;&emsp;You can always access this script clicking "Extensions" &#9657; "Apps Scripts" to make sure it is safe </li>
                <li class="d-flex align-items-start mb-1">&emsp;&#9642;&nbsp;Finally press "Allow" and it's done. </li>
                <li class="d-flex align-items-start mb-1">&#9656;Price prediction will appear in "predict" column (You don't have to clear it before prediction). </li>                 
            </ul>
            <strong>You can modify data, add or delete rows in sheet. Format of input data is explained below.</strong></br>
            <strong>Use "makePrediction" how many times you want. </strong>
        </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Input data format
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">                
              <strong>Data used to train machine learning model was in polish and input data is expected to be in that language as well. </strong>
              <ul class="icon-list ps-0">
                <li class="d-flex align-items-start mb-1 h6"></li>
                <li class="d-flex align-items-start mb-1 h6">&#9656;area:</li>
                    <li class="d-flex align-items-start mb-1">&emsp;&#9642;&nbsp;Property area</li>
                    <li class="d-flex align-items-start mb-1">&emsp;&#9642;&nbsp;Float number</li>
                <li class="d-flex align-items-start mb-1 h6">&#9656;rooms:</li>
                    <li class="d-flex align-items-start mb-1">&emsp;&#9642;&nbsp;Number of rooms</li>
                    <li class="d-flex align-items-start mb-1">&emsp;&#9642;&nbsp;Integer number</li>
                <li class="d-flex align-items-start mb-1 h6">&#9656;location:</li>
                    <li class="d-flex align-items-start mb-1">&emsp;&#9642;&nbsp;Location of property</li>
                    <li class="d-flex align-items-start mb-1">&emsp;&#9642;&nbsp;Location from general to specific, coma separated. Correct capital letters expected.</li>
                    <li class="d-flex align-items-start mb-1">&emsp;&#9642;&nbsp;Ex. Province,County,City,District</li>
                    <li class="d-flex align-items-start mb-1">&emsp;&#9642;&nbsp;Only part of location can be used ex. Province,City or City</li>
                <li class="d-flex align-items-start mb-1 h6">&#9656;floor:</li>
                    <li class="d-flex align-items-start mb-1">&emsp;&#9642;&nbsp;Property floor number</li>
                    <li class="d-flex align-items-start mb-1">&emsp;&#9642;&nbsp;Integer number</li>
                <li class="d-flex align-items-start mb-1 h6">&#9656;floors_in_building:</li>
                    <li class="d-flex align-items-start mb-1">&emsp;&#9642;&nbsp;Number of all floors in building</li>
                    <li class="d-flex align-items-start mb-1">&emsp;&#9642;&nbsp;Integer number</li>
                <li class="d-flex align-items-start mb-1 h6">&#9656;rok budowy:</li>
                    <li class="d-flex align-items-start mb-1">&emsp;&#9642;&nbsp;Build year</li>
                    <li class="d-flex align-items-start mb-1">&emsp;&#9642;&nbsp;Integer number</li>
                <li class="d-flex align-items-start mb-1 h6">&#9656;is_primary_market:</li>
                    <li class="d-flex align-items-start mb-1">&emsp;&#9642;&nbsp;Is primary market </li>
                    <li class="d-flex align-items-start mb-1">&emsp;&#9642;&nbsp;Boolean: True or False</li>
                <li class="d-flex align-items-start mb-1 h6">&#9656;rodzaj zabudowy:</li>
                    <li class="d-flex align-items-start mb-1">&emsp;&#9642;&nbsp;Type of building</li>
                    <li class="d-flex align-items-start mb-1">&emsp;&#9642;&nbsp;Choose from: "blok", "apartamentowiec", "kamienica", "dom wolnostojący", "szeregowiec", "plomba", "loft"</li>
                <li class="d-flex align-items-start mb-1 h6">&#9656;okna:</li>
                    <li class="d-flex align-items-start mb-1">&emsp;&#9642;&nbsp;Type of windows</li>
                    <li class="d-flex align-items-start mb-1">&emsp;&#9642;&nbsp;Choose from: "plastikowe", "drewniane", "aluminiowe"</li>
                <li class="d-flex align-items-start mb-1 h6">&#9656;stan wykończenia:</li>
                    <li class="d-flex align-items-start mb-1">&emsp;&#9642;&nbsp;Finish condition</li>
                    <li class="d-flex align-items-start mb-1">&emsp;&#9642;&nbsp;Choose from: "do zamieszkania", "do wykończenia", "do remontu"</li>
                <li class="d-flex align-items-start mb-1 h6">&#9656;ogrzewanie:</li>
                    <li class="d-flex align-items-start mb-1">&emsp;&#9642;&nbsp;Type of heating</li>
                    <li class="d-flex align-items-start mb-1">&emsp;&#9642;&nbsp;Choose from: "miejskie", "gazowe", "inne", "kotłownia", "elektryczne", "piece kaflowe"</li>
                <li class="d-flex align-items-start mb-1 h6">&#9656;forma własności:</li>
                    <li class="d-flex align-items-start mb-1">&emsp;&#9642;&nbsp;Form of the property</li>
                    <li class="d-flex align-items-start mb-1">&emsp;&#9642;&nbsp;Choose from: "pełna własność", "spółdzielcze własnościowe", "spółdzielcze wł. z kw", "udział" </li>
                <li class="d-flex align-items-start mb-1 h6">&#9656;system alarmowy:</li>
                   <li class="d-flex align-items-start mb-1">&emsp;&#9642;&nbsp;Alarm system</li>
                    <li class="d-flex align-items-start mb-1">&emsp;&#9642;&nbsp;Boolean: True or False</li>
                <li class="d-flex align-items-start mb-1 h6">&#9656;rolety antywłamaniowe:</li>
                    <li class="d-flex align-items-start mb-1">&emsp;&#9642;&nbsp;Anti-burglary blinds</li>
                    <li class="d-flex align-items-start mb-1">&emsp;&#9642;&nbsp;Boolean: True or False</li>
                <li class="d-flex align-items-start mb-1 h6">&#9656;drzwi / okna antywłamaniowe:</li>
                    <li class="d-flex align-items-start mb-1">&emsp;&#9642;&nbsp;Anti-theft doors/windows</li>
                    <li class="d-flex align-items-start mb-1">&emsp;&#9642;&nbsp;Boolean: True or False</li>              
            </ul>        
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              API
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>To be completed</strong>
            </div>
          </div>
        </div>
      </div>

     <hr class="col-3 col-md-2 mb-5">

    <div class="row g-5">     
      <div class="col-md-6">        
        <h2>GitHub</h2>
        <p>Visit project's GitHub page.</p>
        <div class="mb-5">
            <a href="https://github.com/Twarzy/property_forecast_excel_deploy" class="btn btn-outline-dark btn-lg px-4">    
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
              </svg>
              GitHub
             </a>       
        </div>         
      </div>

      <div class="col-md-6">
        <h2>Author</h2>
        <p>You can contact me via Linkedin.</p>  
          <div class="mb-4">   
            <a href="https://www.linkedin.com/in/bartosz-kowalik-5756ba1b3" class="btn btn-outline-primary btn-lg px-3">      
              <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
              </svg>
              Linkedin
             </a>       
          </div>
       </div>
    </div>
  </main>
  <footer class="pt-5 my-5 text-muted border-top">
    Created by Bartosz Kowalik &copy; 2022
  </footer>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
      
  </body>
</html>
